*, *:before, *:after {box-sizing:  border-box !important;}

.panel-body {
    background-size:cover
}

.row {
 -moz-column-width: 25em;
 -webkit-column-width: 25em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em; 
  
}
