.events .row{
	-moz-column-width: 25em;
	-webkit-column-width: 25em; 
	-moz-column-gap: 1em;
	-webkit-column-gap:1em; 
}

.peers .row{
	-moz-column-width: 16em;
	-webkit-column-width: 16em;
	-moz-column-gap: 1em;
	-webkit-column-gap:1em; 
}

.panel {
	display: inline-block;
	width:98%;
}

.panel-body {
	background-size: cover;
    background-position:center;
    background-repeat:no-repeat;
    padding: 0;
}

.events .panel-body {
	height: 25em;
}

.peers .panel-body {
	height: 16em;
}

.gradient {
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,0.75))) no-repeat;
	color: #fff;
	position: relative;
	width: 100%;
}

.events .gradient {
	bottom: -18em;
	height: 7em;
}

.peers .gradient {
	bottom: -12em;
	height: 4em;
}

.info {
	bottom: 1em;
	position: absolute;
	color: #fff;
}

.events .info {
	width: 70%;
}

.peers .info {
	width: 100;
	text-align: center;
}

.title {
	font-size: 16px;
	line-height: 1.5em;
	white-space: nowrap;
	padding: 1ex 1em;
	word-wrap: break-word;
	white-space: normal;
}

.time {
	padding: 0 1em;
	color: #ccc;
}

.join-btn {
	position: absolute;
	right: 1em;
	bottom: 1em;
	width: 25%;
}

.view-events-btn {

}