body {
  font-family: 'Sniglet', cursive;
}
#logo {
  font-family: 'Englebert', sans-serif;
  font-size: 48px;
  line-height: 1.2em;
  float: left;
  padding: 15px;
  height: 72px;
  color: #e7e737;
}
#logo:hover {
  text-decoration: none;
}
.navbar {
  background-color: #7e45d3;
}
.navbar li.active .section-name {
  text-decoration: underline;
}
.navbar li a,
.navbar li button {
  color: #fff;
  font-size: 24px;
  font-family: 'Waiting for the Sunrise', cursive;
  font-family: 'Sniglet', cursive;
}
.navbar li a:hover,
.navbar li button:hover {
  color: #6d9dd1;
  color: #e7e737;
}
.nav.navbar-nav > li > a:hover {
  background-color: #7e45d3;
  color: #e7e737;
}
.nav.navbar-nav {
  margin: 7.5px -15px 7.5px 50px;
}
.btn.plan-btn {
  background-color: #65a7ee;
  padding: 6px 12px 3px;
  margin-top: 6px;
}
.plan-item {
  margin-left: 10px;
}
.btn.profile-pic {
  font-size: 32px;
  margin-top: 6px;
}
.controls {
  font-size: 18px;
  margin: 10px 0 30px;
}
.controls p {
  padding-top: 10px;
  text-align: center;
}
.controls .control-label {
  padding: 10px;
  margin-bottom: 10px;
}
.label.group-filter {
  font-size: 20px;
  opacity: 0.7;
  cursor: pointer;
  margin: 0 4px;
}
.label.group-filter.active {
  opacity: 1;
}
#show-all-info {
  width: 182px;
  float: right;
}
#peer-filter {
  display: none;
}
.clearfix {
  clear: both;
}
.filter-options {
  height: 50px;
}
.panel-body {
  cursor: pointer;
}
.event-header h1 {
  margin: 0;
  float: left;
}
.header {
  margin: 20px 0 10px;
}
.radio-inline {
  height: 30px;
}
