yellow = #E7E737
blue = #65A7EE
purple = #7E45D3

body
	font-family: 'Sniglet', cursive;


#logo
	font-family 'Englebert', sans-serif
	font-size 48px
	line-height 1.2em
	float: left;
	padding: 15px;
	height: 72px
	color #E7E737

	&:hover
		text-decoration none

.navbar
	background-color #7E45D3
	border-radius 0

	a
	button
		color #fff
		font-size 24px
		font-family: 'Waiting for the Sunrise', cursive;
		font-family: 'Sniglet', cursive;

		&:hover
			color #E7E737

	.active
		background-color #fff

		a
			color purple

		&#plan-nav
			color blue

.nav.navbar-nav > li > a:hover
	background-color #7E45D3
	color yellow

.nav.navbar-nav
	margin 7.5px -15px 7.5px 50px

.btn.plan-btn
	background-color #65A7EE
	padding 6px 12px 3px
	margin 12px 20px

	&.active
		background-color #fff

.btn.profile-pic
	font-size 32px
	margin-top 6px

.controls
	font-size 18px
	margin 10px 0 30px

	p
		padding-top 10px
		text-align center

.controls
	.control-label
		padding 10px
		margin-bottom 10px

.label.group-filter
	font-size 20px
	opacity 0.3
	cursor pointer
	margin 0 4px

	&.active
		opacity 1

#show-all-info
	width 182px
	float right

#peer-filter
	display none

.clearfix
	clear both

.filter-options
	height 50px

.panel-body
	cursor pointer

.event-header
	h1
		margin 0
		float left

.header
	margin 20px 0 10px

.radio-inline
	height 30px

.form-horizontal .control-label.group-label
	text-align left

.form-horizontal .form-group
	margin 0 0 15px 0

#no-events-msg
	display none
