yellow = #E7E737
blue = #65A7EE
purple = #7E45D3

body
	font-family: 'Sniglet', cursive;


#logo
	font-family 'Englebert', sans-serif
	font-size 48px
	line-height 1.2em
	float: left;
	padding: 15px;
	height: 72px
	color #E7E737

	&:hover
		text-decoration none

.navbar
	background-color #7E45D3
	
	li
		&.active
			.section-name
				text-decoration underline

		a
		button
			color #fff
			font-size 24px
			font-family: 'Waiting for the Sunrise', cursive;
			font-family: 'Sniglet', cursive;

			&:hover
				color #6D9DD1
				color #E7E737

.nav.navbar-nav > li > a:hover
	background-color #7E45D3
	color yellow

.nav.navbar-nav
	margin 7.5px -15px 7.5px 50px

.btn.plan-btn
	background-color #65A7EE
	padding 6px 12px 3px
	margin-top 6px

.plan-item
	margin-left 10px

.btn.profile-pic
	font-size 32px
	margin-top 6px

.controls
	font-size 18px
	margin 10px

	p
		padding 10px
		text-align center

label
	padding 10px
	margin-bottom 10px

.label.group-filter
	font-size 20px
	opacity 0.7
	cursor pointer
	margin 0 4px

	&.active
		opacity 1