{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="site_media/css/tilesLayout.css" />
{% endblock %}

{% block js %}
<script src="site_media/js/masonry.pkgd.min.js"></script>
<script src="site_media/js/main.js"></script>
<script>
$(document).on("click", ".group-filter", function() {
	if ($(this).hasClass("active")) {
		$(this).removeClass("active");
	} else {
		$(this).addClass("active");
	}
});

$(document).on("click", "#show-all-info", function() {
	if ($(this).hasClass("show-state")) {
		$(this).removeClass("show-state").addClass("hide-state").html("HIDE ALL INFO");
	} else {
		$(this).addClass("hide-state").addClass("show-state").html("SHOW ALL INFO");
	}
})
</script>
{% endblock %}


{% block content %}
<div class="controls">
	<div class="filters">
		<label>Showing events for:</label>
		<span class="label group-filter label-success active">Ms. Creevey's Pre-K Class</span>
		<span class="label group-filter label-warning active">Saltsville Daycare Playgroup A</span>
	</div>
	<input type="text" class="form-control input-lg" placeholder="Search for a peer, family, or event...">
	<p><button id="show-all-info" class="btn btn-primary btn-lg show-state">SHOW ALL INFO</button></p>

</div>

<div class="container events">
  <div class="row">
    <div class="panel panel-default">
 		<div class="panel-body" style="background-image: url(site_media/images/events/img4.jpg)">
 			<div class="gradient">
 				<div class="info">
 					<div class="title">Hiking Trip</div>
 					<div class="time">Saturday, May 10, 2014 <br/> 1:00 PM to 4:00 PM</div>
 				</div>
 				<button class="btn join-btn">Join</button>
 			</div>
 		</div>
 		<div class="panel-heading">
 			<label>Location:</label> Indian Creek Trails, Lake Forest, MA
 			<label>Description:</label> Hey everyone! Our family wanted to spend some time outdoors this weekend. Feel free to join and invite whoever you want!
 		</div>
 	</div>

    <div class="panel panel-default">
 		<div class="panel-body" style="background-image: url(site_media/images/events/img5.jpg)">
 			<div class="gradient">
 				<div class="info">
 					<div class="title">Tommy's birthday party omg he's gonna be four</div>
 					<div class="time">Saturday, May 10, 2014 <br/> 1:00 PM to 4:00 PM</div>
 				</div>
 				<button class="btn join-btn">Join</button>
 			</div>
 		</div>
 		<div class="panel-heading">
 			<label>Location:</label> 900 Washington Ave., Saltville, MA 02139
 			<label>Description:</label> It's Tommy's birthday!
 		</div>
 	</div>

 	<div class="panel panel-default">
 		<div class="panel-body" style="background-image: url(site_media/images/events/img6.jpg)">
 			<div class="gradient">
 				<div class="info">
 					<div class="title">Tommy's birthday party omg he's gonna be four</div>
 					<div class="time">Saturday, May 10, 2014 <br/> 1:00 PM to 4:00 PM</div>
 				</div>
 				<button class="btn join-btn">Join</button>
 			</div>
 		</div>
 		<div class="panel-heading">
 			<label>Location:</label> 900 Washington Ave., Saltville, MA 02139
 			<label>Description:</label> It's Tommy's birthday!
 		</div>
 	</div>

 	<div class="panel panel-default">
 		<div class="panel-body" style="background-image: url(site_media/images/events/img7.jpg)">
 			<div class="gradient">
 				<div class="info">
 					<div class="title">Tommy's birthday party omg he's gonna be four</div>
 					<div class="time">Saturday, May 10, 2014 <br/> 1:00 PM to 4:00 PM</div>
 				</div>
 				<button class="btn join-btn">Join</button>
 			</div>
 		</div>
 		<div class="panel-heading">
 			<label>Location:</label> 900 Washington Ave., Saltville, MA 02139
 			<label>Description:</label> It's Tommy's birthday!
 		</div>
 	</div>

 	<div class="panel panel-default">
 		<div class="panel-body" style="background-image: url(site_media/images/events/img8.jpg)">
 			<div class="gradient">
 				<div class="info">
 					<div class="title">Tommy's birthday party omg he's gonna be four</div>
 					<div class="time">Saturday, May 10, 2014 <br/> 1:00 PM to 4:00 PM</div>
 				</div>
 				<button class="btn join-btn">Join</button>
 			</div>
 		</div>
 		<div class="panel-heading">
 			<label>Location:</label> 900 Washington Ave., Saltville, MA 02139
 			<label>Description:</label> It's Tommy's birthday!
 		</div>
 	</div>

 	<div class="panel panel-default">
 		<div class="panel-body" style="background-image: url(site_media/images/events/img0.jpg)">
 			<div class="gradient">
 				<div class="info">
 					<div class="title">Tommy's birthday party omg he's gonna be four</div>
 					<div class="time">Saturday, May 10, 2014 <br/> 1:00 PM to 4:00 PM</div>
 				</div>
 				<button class="btn join-btn">Join</button>
 			</div>
 		</div>
 		<div class="panel-heading">
 			<label>Location:</label> 900 Washington Ave., Saltville, MA 02139
 			<label>Description:</label> It's Tommy's birthday!
 		</div>
 	</div>

 	<div class="panel panel-default">
 		<div class="panel-body" style="background-image: url(site_media/images/events/img2.jpg)">
 			<div class="gradient">
 				<div class="info">
 					<div class="title">Tommy's birthday party omg he's gonna be four</div>
 					<div class="time">Saturday, May 10, 2014 <br/> 1:00 PM to 4:00 PM</div>
 				</div>
 				<button class="btn join-btn">Join</button>
 			</div>
 		</div>
 		<div class="panel-heading">
 			<label>Location:</label> 900 Washington Ave., Saltville, MA 02139
 			<label>Description:</label> It's Tommy's birthday!
 		</div>
 	</div>
</div>
</div>
{% endblock %}