{% extends "base.html" %}

{% block title %}Playtime: Events{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="site_media/css/tilesLayout.css" />
<link rel="stylesheet" type="text/css" href="site_media/css/tooltipster.css" />
{% endblock %}

{% block js %}
<script type="text/javascript" src="site_media/js/peer-search.js"></script>
<script type="text/javascript" src="site_media/js/jquery.tooltipster.min.js"></script>
<script>

$(document).on("click", ".group-filter", function() {
	var whichGroup = $(this).attr("id");
	if ($(this).hasClass("active")) {
		$(this).removeClass("active");
		$(".panel."+whichGroup).fadeOut();
	} else {
		$(this).addClass("active");
		$(".panel."+whichGroup).fadeIn();
	}

});

$(document).on("click", "#show-all-info", function() {
	if ($(this).hasClass("show-state")) {
		$(this).removeClass("show-state").addClass("hide-state").html("Hide all event info");
		$(".panel-heading").slideDown();
	} else {
		$(this).addClass("hide-state").addClass("show-state").html("Show all event info");
		$(".panel-heading").slideUp();
	}
});

// TODO: animations for show/hide
$(document).on("click", "#by-group", function() {
	$("#peer-filter").hide();
	$("#group-filters").show();
});

$(document).on("click", "#by-peer", function() {
	$("#group-filters").hide();
	$("#peer-filter").show();
});

$(document).on("click", ".join-btn", function() {
	$(this).toggleClass("btn-success");
	$(this).text(function(i, text){
		return text === "Join" ? "Joined" : "Join";
	});
	// this stops the click from propogating to the parent
	return false;
});

$(document).on("click", ".panel-body", function() {
	$(this).parent(".panel").find(".panel-heading").slideToggle();
});

$(document).ready(function($) {
	$(".panel-heading").hide();
});

$(document).ready(function() {
	$(".attending").tooltipster({
		content: $('<span><strong>Name<br>Groups</strong></span>')
	});
});
</script>
{% endblock %}



{% block content %}
<div class="event-header header">
	<h1>Find something to do!</h1>
	<button id="show-all-info" class="btn btn-primary btn-lg show-state">Show all event info</button>
 </div>

<div class="clearfix"></div>
<div class="controls">
	<div class="filters">
		<label class="control-label">Filter events by:</label>
		<div class="radio-inline" id="by-group">
			<label>
				<input type="radio" name="filter-type" value="by-group" checked>
				Group
			</label>
		</div>
		<div class="radio-inline" id="by-peer">
			<label>
				<input type="radio" name="filter-type" value="by-group">
				Peer
			</label>
		</div>
		<br/> 

		<div class="filter-options" id="group-filters">
			<span id="pre-k" class="label group-filter label-success active">Ms. Creevey's Pre-K Class</span>
			<span id="daycare" class="label group-filter label-warning active">Saltsville Daycare Playgroup A</span>
		</div>

		<div class="filter-options" id="peer-filter">
			<input type="text" class="form-control input-lg" id="peer-search" placeholder="Search for a peer...">
		</div>
	</div>


</div>

<div class="container events">
  <div class="row">
    <div class="panel panel-default pre-k catherine lily max vivek">
 		<div class="panel-body" style="background-image: url(site_media/images/events/kidshiking.png)">
 			<ul class="nav nav-pills navbar-right event_change">
				<li> <a href="#" class="navbar-link">
					<span class="glyphicon glyphicon-pencil"></span>
				</a></li>
				<li> <a href="#" class="navbar-link">
					<span class="glyphicon glyphicon-trash"></span>
				</a></li>
			</ul>
 			<div class="gradient">
 				<div class="info">
 					<div class="title">Hiking Trip</div>
 					<div class="time">Saturday, May 10, 2014 <br/> 1:00 PM to 4:00 PM</div>
 				</div>
 				<button class="btn join-btn">Join</button>
 			</div>
 		</div>
 		<div class="panel-heading">
 			<div><label>Created by:</label> The Joneses</div>
 			<div><label>Location:</label> Indian Creek Trails, Lake Forest, MA</div>
 			<div><label>Description:</label> Hey everyone! Our family wanted to spend some time outdoors this weekend. Feel free to join and invite whoever you want!</div>
 			<div><label>Attending: </label>
 				<div class="attending" style="background-image: url(site_media/images/peers/prek/catherine.jpeg)" ></div>
 				<div class="attending" style="background-image: url(site_media/images/peers/prek/lily.jpeg)"></div>
 				<div class="attending" style="background-image: url(site_media/images/peers/prek/max.jpg)"></div>
 				<div class="attending" style="background-image: url(site_media/images/peers/prek/vivek.jpg)"></div>
 			</div>
 		</div>
 	</div>

    <div class="panel panel-default pre-k catherine ella lily max vivek">
 		<div class="panel-body" style="background-image: url(site_media/images/events/bowling.jpg)">
 			<div class="gradient">
 				<div class="info">
 					<div class="title">Joseph's Birthday Party: Bowling and Pizza!</div>
 					<div class="time">Sunday, May 11, 2014 <br/> 5:00 PM to 8:00 PM</div>
 				</div>
 				<button class="btn join-btn">Join</button>
 			</div>
 		</div>
 		<div class="panel-heading">
 			<div><label>Created by:</label> The Joneses</div>
 			<div><label>Location:</label> Cosmic Lanes, 130 Reeves Dr., Saltsville, MA 02139</div>
 			<div><label>Description:</label> Join us for Joseph's 4th birthday with some bowling and pizza. Parents, we'll have a room on the side just for us, so feel free to stick around! Make sure the kids are wearing socks for the bowling shoes. There's also an arcade in the building, so maybe bring some spare quarters. See you next Sunday!</div>
 			<div><label>Attending: </label>
 				<div class="attending" style="background-image: url(site_media/images/peers/prek/catherine.jpeg)"></div>
 				<div class="attending" style="background-image: url(site_media/images/peers/prek/ella.jpg)"></div>
 				<div class="attending" style="background-image: url(site_media/images/peers/prek/lily.jpeg)"></div>
 				<div class="attending" style="background-image: url(site_media/images/peers/prek/max.jpg)"></div>
 				<div class="attending" style="background-image: url(site_media/images/peers/prek/vivek.jpg)"></div>
 			</div>
 		</div>
 	</div>

 	<div class="panel panel-default pre-k catherine ella max vivek">
 		<div class="panel-body" style="background-image: url(site_media/images/events/babytiger.jpg)">
 			<div class="gradient">
 				<div class="info">
 					<div class="title">Zoooooo</div>
 					<div class="time">Saturday, May 17, 2014 <br/> 11:00 AM to 2:00 PM</div>
 				</div>
 				<button class="btn join-btn">Join</button>
 			</div>
 		</div>
 		<div class="panel-heading">
 			<div><label>Created by:</label> The Joneses</div>
 			<div><label>Location:</label> Lincoln Park Zoo, Libertyville, MA</div>
 			<div><label>Description:</label> The zoo's tigers just gave birth to a baby tiger. We thought it'd be a great reason for the kids to visit the zoo and have a look! We're planning on going around lunch time, so do meet up with us and we can all grab a bite.</div>
 			<div><label>Attending: </label>
 				<div class="attending" style="background-image: url(site_media/images/peers/prek/catherine.jpeg)"></div>
 				<div class="attending" style="background-image: url(site_media/images/peers/prek/ella.jpg)"></div>
 				<div class="attending" style="background-image: url(site_media/images/peers/prek/max.jpg)"></div>
 				<div class="attending" style="background-image: url(site_media/images/peers/prek/vivek.jpg)"></div>
 			</div>
 		</div>
 	</div>

 	<div class="panel panel-default daycare pre-k elsa stephen amy lily">
 		<div class="panel-body" style="background-image: url(site_media/images/events/pettingzoo.jpg)">
 			<div class="gradient">
 				<div class="info">
 					<div class="title">Petting Zoo</div>
 					<div class="time">Sunday, May 18, 2014 <br/> 1:00 PM to 2:30 PM</div>
 				</div>
 				<button class="btn join-btn">Join</button>
 			</div>
 		</div>
 		<div class="panel-heading">
 			<div><label>Created by:</label> The Joneses</div>
 			<div><label>Location:</label> Twin Groves Park, Saltsville, MA</div>
 			<div><label>Description:</label> There's going to be a petting zoo coming to town! We're planning on taking our kids to check it out and wanted to make sure everyone knew about it.</div>
 			<div><label>Attending: </label>
 				<div class="attending" style="background-image: url(site_media/images/peers/daycare/elsa.jpg)"></div>
 				<div class="attending" style="background-image: url(site_media/images/peers/daycare/stephen.jpeg)"></div>
 				<div class="attending" style="background-image: url(site_media/images/peers/daycare/amy.jpg)"></div>
 				<div class="attending" style="background-image: url(site_media/images/peers/prek/lily.jpeg)"></div>
 			</div>
 		</div>
 	</div>

 	<div class="panel panel-default pre-k catherine ella max vivek">
 		<div class="panel-body" style="background-image: url(site_media/images/events/showandtell.jpg)">
 			<div class="gradient">
 				<div class="info">
 					<div class="title">Show and Tell</div>
 					<div class="time">Tuesday, May 20, 2014 <br/> 10:00 AM to 11:30 AM</div>
 				</div>
 				<button class="btn join-btn">Join</button>
 			</div>
 		</div>
 		<div class="panel-heading">
 			<div><label>Created by:</label> The Joneses</div>
 			<div><label>Location:</label> School</div>
 			<div><label>Description:</label> Hey parents! Just wanted to make everyone aware that there's going to be Show and Tell time in class on Tuesday 05/20. The kids should feel free to bring anything they want, whether it's pets, toys, games, etc. Can't wait to see what everyone brings!</div>
 			<div><label>Attending: </label>
 				<div class="attending" style="background-image: url(site_media/images/peers/prek/catherine.jpeg)"></div>
 				<div class="attending" style="background-image: url(site_media/images/peers/prek/ella.jpg)"></div>
 				<div class="attending" style="background-image: url(site_media/images/peers/prek/max.jpg)"></div>
 				<div class="attending" style="background-image: url(site_media/images/peers/prek/vivek.jpg)"></div>
 			</div>
 		</div>
 	</div>

 	<div class="panel panel-default daycare elsa stephen amy">
 		<div class="panel-body" style="background-image: url(site_media/images/events/icecreampicnic.jpg)">
 			<div class="gradient">
 				<div class="info">
 					<div class="title">School-wide Picnic</div>
 					<div class="time">Friday, May 23, 2014 <br/> 12:00 PM to 2:00 PM</div>
 				</div>
 				<button class="btn join-btn">Join</button>
 			</div>
 		</div>
 		<div class="panel-heading">
 			<div><label>Created by:</label> The Joneses</div>
 			<div><label>Location:</label> School</div>
 			<div><label>Description:</label> Self-explanatory! See the school website for more details. Parents welcome :)</div>
 			<div><label>Attending: </label>
 				<div class="attending" style="background-image: url(site_media/images/peers/daycare/elsa.jpg)"></div>
 				<div class="attending" style="background-image: url(site_media/images/peers/daycare/stephen.jpeg)"></div>
 				<div class="attending" style="background-image: url(site_media/images/peers/daycare/amy.jpg)"></div>
 			</div>
 		</div>
 	</div>

</div>
</div>
{% endblock %}