{% extends "tiles.html" %}

{% block title %}Playtime: Events{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="site_media/css/tilesLayout.css" />
<link rel="stylesheet" type="text/css" href="site_media/css/tooltipster.css" />
{% endblock %}

{% block tile_js %}
<script type="text/javascript" src="site_media/js/peer-search.js"></script>
<script type="text/javascript" src="site_media/js/jquery.tooltipster.min.js"></script>

<script>
$(document).on("click", "#show-all-info", function() {
	if ($(this).hasClass("show-state")) {
		$(this).removeClass("show-state").addClass("hide-state").html("Hide all event info");
		$(".panel-heading").slideDown();
	} else {
		$(this).addClass("hide-state").addClass("show-state").html("Show all event info");
		$(".panel-heading").slideUp();
	}
});

$(document).on("click", ".join-btn", function() {
	$(this).toggleClass("btn-success");
	$(this).text(function(i, text){
		return text === "Join" ? "Joined" : "Join";
	});
	// this stops the click from propogating to the parent
	return false;
});
</script>
{% endblock %}



{% block content %}
<div class="event-header header">
	<h1>Find something to do!</h1>
	<button id="show-all-info" class="btn btn-primary btn-lg show-state">Show all event info</button>
 </div>

<div class="clearfix"></div>
<div class="controls">
	<div class="filters">
		<label class="control-label">Filter events by:</label>
		<div class="radio-inline" id="by-group">
			<label>
				<input type="radio" name="filter-type" value="by-group" checked>
				Group
			</label>
		</div>
		<div class="radio-inline" id="by-peer">
			<label>
				<input type="radio" name="filter-type" value="by-group">
				Peer
			</label>
		</div>
		<br/> 

		<div class="filter-options" id="group-filters">
			<span id="pre-k" class="label group-filter label-success active">Ms. Creevey's Pre-K Class</span>
			<span id="daycare" class="label group-filter label-warning active">Saltsville Daycare Playgroup A</span>
		</div>

		<div class="filter-options" id="peer-filter">
			<input type="text" class="form-control input-lg" id="peer-search" placeholder="Search for a peer...">
		</div>
	</div>


</div>

{% block tiles %}
{% for event in events %}
<div class="event panel panel-default">
	<div class="panel-body" style="background-image: url( /site_media/images/{{event.photo.name}} )">
		<div class="gradient">
			<div class="info">
				<div class="title">{{ event.title }}</div>
				<div class="time">{{ event.date|date:"D, M d, Y"}} <br/> {{ event.start_time|time:"P"}} to {{ event.end_time|time:"P"}}</div>
			</div>
			<button class="btn join-btn">Join</button>
		</div>
	</div>
	<div class="panel-heading">
		<div><label>Created by:</label> The {{ event.created_by.last_name }}s </div>
		<div><label>Location:</label> {{ event.location }} </div>
		<div><label>Description:</label> {{ event.description }}</div>
		<div><label>Attending: </label>
			{% for buddy in event.attendee_list %}
			<div class="attending" style="background-image: url( /site_media/images/{{buddy.photo.name }} )"></div>
			{% endfor %}
		</div>
	</div>
</div>
{% endfor %}
{% endblock %}

{% endblock %}