{% extends "base.html" %}

{% block title %}Playtime: Buddies{% endblock %}


{% block css %}
<link rel="stylesheet" type="text/css" href="site_media/css/tilesLayout.css" />
{% endblock %}

{% block js %}
<script>
var buddyDict = {};

{% for buddy in buddies %}
buddyDict["{{ buddy.first_name }} {{ buddy.last_name }}"] = {{ buddy.id }};
{% endfor %}
var buddyList = Object.keys(buddyDict); 

$(document).ready(function() {
	$("#peer-search").autocomplete({
		source: buddyList,
		select: function() {
			var name = $("#peer-search").val();
			var id = buddyDict[name];
			$(".peer").fadeOut();
			$("#buddy-"+id).fadeIn();
		}
	});
})
 
$(document).ready(function($) {
	$(".panel-heading").hide();
	$(".panel-body").click(function() {
		$(this).parent(".panel").find(".panel-heading").slideToggle();
	});
});

var showBuddiesForGroup = function(group_id) {
	$(".peer").hide();
	var url = '/get_buddies_in_group/'+group_id;
	$.get(url, function(data) {
		var buddy_list = data.buddy_ids;
		console.log(buddy_list);
		for (var j=0; j<buddy_list.length; j++) {
			var buddy_id = buddy_list[j];
			$("#buddy-"+buddy_id).fadeIn();
		}
	});
}

$(document).ready(function() {
	// only show Ms. Creevey's pre-k class on load
	showBuddiesForGroup(2);

	$("#group-select").change(function() {
		console.log("changed");
		var group_id = $(this).find(":selected").attr("data-id");
		showBuddiesForGroup(group_id);
	});
});

</script>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-12">
		<h1>Find someone to play with!</h1>
	</div>
</div>
<div class="controls row">
    <div class="col-sm-6">
		<form class="form-horizontal" role="form">
		  	<div class="form-group">
			    <label for="group-select" class="col-sm-2 control-label group-label">Group:</label>
		    	<select id="group-select" class="col-sm-10 input-lg">
					<option id='pre-k' data-id="2">Ms. Creevey's Pre-K Class</option>
					<option id='daycare' data-id="1">Saltsville Daycare Playgroup A</option>
				</select>
	    	</div>
		 </form>
	</div>
	<div class="col-sm-6">
		<input type="text" class="form-control input-lg" id="peer-search" placeholder="Search for a buddy...">
  	</div>

</div>

{% block tiles %}
{% for buddy in buddies %}
<div class="peer panel panel-default" id="buddy-{{ buddy.id }}">
	<div class="panel-body" style="background-image: url( /site_media/images/{{buddy.photo.name }})">
		<div class="gradient">
			<div class="info">
				<div class="title">{{buddy.first_name}} {{buddy.last_name}}</div>
			</div>
		</div>
	</div>
	<div class="panel-heading">
		<div><label>Parents:</label> {{buddy.parent1}} and {{buddy.parent2}} </div>
		<div><label>Phone Number:</label> {{buddy.phone}}</div>
		<div><label>Address:</label> {{buddy.address}} </div>
		<div><a href="/events/?buddy_id={{buddy.id}}" class="btn btn-primary view-events-btn">View Events</a> </div>
	</div>
</div>
{% endfor %}

{% endblock %}
{% endblock %}