{% extends "base.html" %}

{% block title %}Playtime: Plan an event{% endblock %}

{% block css %}
<link type="text/css" href="site_media/css/image-picker.css" rel="stylesheet">
<link type="text/css" href="site_media/css/jquery.timepicker.css" rel="stylesheet">
<link type="text/css" href="site_media/css/plan.css" rel="stylesheet">
{% endblock %}

{% block js %}
<script type="text/javascript" src="site_media/js/image-picker.js"></script>
<script type="text/javascript" src="site_media/js/jquery.timepicker.js"></script>
<script>
$(function() {
	$( "#end_date" ).datepicker('setDate', new Date());

	$( "#start_date" ).datepicker({
    	altField: "#end_date",
    	altFormat: "mm/dd/yy"
    });

    $( "#start_date" ).datepicker('setDate', new Date());

    $(".time").timepicker({'timeFormat': 'h:i A'});

    $(".image-picker").imagepicker({
    	hide_select:false
    });

    // window.onbeforeunload = function () {
    // 	return ''
    // };

   $("#create_event").click(function(){
	    window.btn_clicked = true;       /*or use addEventListener ↑ */
	});

	window.onbeforeunload = function(){
	    if(!window.btn_clicked){
	        return 'You must click "Create Event" to finish creating a new event. If you leave now you will lose all information';
	    }
	};

});
</script>
{% endblock %}


{% block content %}
<form role='form' class="container" method="POST">
	{% csrf_token %}
	<div class="row">
		<div class="form-group col-md-3 input-lg">
			<label>Event name:</label>
		</div>

		<div class="form-group col-md-9">
			<input type='text' class="form-control input-lg" id="name" name="title">
		</div>
	</div>

	<div class="row">
		<div class="form-group col-md-3 input-lg">
			<label>Group(s) to invite:</label>
		</div>

		<div class="form-group col-md-9" id="groups">
			<div class="checkbox input-lg">
				<input type="checkbox" name="groups[]" value="2">Ms. Creevy's Pre-K Class
			</div>

			<div class="checkbox input-lg">
				<input type="checkbox" name="groups[]" value="1" checked=true>Saltsville Daycare Playgroup A
			</div>
		</div>
	</div>

	<div class="row">
		<div class="form-group col-md-3 input-lg">
			<label>Description:</label>
		</div>

		<div class="form-group col-md-9">
			<textarea class="form-control" rows="4" id="description" name="description"></textarea>
		</div>
	</div>


	<div class="row">
		<div class="form-group col-md-3 input-lg">
			<label>Choose photo:</label>
		</div>

		<div class="form-group col-md-9" style="overflow-y:scroll;">
			<input type="file" class="input-lg" id="photo_file" name="photo" disabled="true">
			<select class="form-control input-lg image-picker" name="photo" style="visibility:hidden;" id="default_photo">
				<option value=""></option>
				<option data-img-src="site_media/images/events/kidshiking.png" value="events/kidshiking.jpg">Hiking</option>
				<option data-img-src="site_media/images/events/sweatermouse.jpg" value="events/sweatermouse.jpg">Picnic</option>
				<option data-img-src="site_media/images/events/birthday_party.jpg" value="events/birthday_party.jpg">Birthday Party</option>
				<option data-img-src="site_media/images/events/img0.jpg" value="events/img0.jpg">Image 0</option>
				<option data-img-src="site_media/images/events/img1.jpg" value="events/img1.jpg">Image 1</option>
				<option data-img-src="site_media/images/events/babytiger.jpg" value="events/babytiger.jpg">Image 2</option>
				<option data-img-src="site_media/images/events/img3.jpg" value="events/img3.jpg">Image 3</option>
				<option data-img-src="site_media/images/events/img5.jpg" value="events/img5.jpg">Image 4</option>
			</select>
		</div>
	</div>

	<div class="row">
		<div class="form-group col-md-3 input-lg">
			<label>Location:</label>
		</div>

		<div class="form-group col-md-9">
			<input type="text" class="form-control input-lg" id="location" name="location">
		</div>
	</div>

	<div class="row">

		<div class="form-group col-md-3 input-lg">
			<label>Start date:</label>
		</div>

		<div class="form-group col-md-4">
			<input type='text' class="form-control text-center input-lg" id="start_date" name="date">
		</div>

		<div class="form-group col-md-1 text-center input-lg">
			<label>at</label>
		</div>

		<div class="form-group col-md-4">
			<input type='text' class="form-control input-lg time ui-timepicker-input text-center" id="start_time" name="start_time">
		</div>

	</div>

	<div class="row">

		<div class="form-group col-md-3 input-lg">
			<label>End time:</label>
		</div>

		<div class="form-group col-md-4">
			<input type='text' class="form-control text-center input-lg" id="end_date">
		</div>

		<div class="form-group col-md-1 text-center input-lg">
			<label>at</label>
		</div>

		<div class="form-group col-md-4">
			<input type='text' class="form-control input-lg time ui-timepicker-input text-center" id="end_time" name="end_time">
		</div>

	</div>

	<div class="row">
		<div class= "form-group col-md-2 col-md-offset-3">
			<button type="submit" class="btn btn-primary btn-lg" id="create_event">Create Event</button>
		</div>
	</div>

</form>
{% endblock %}